{{#each products }}
  <div class="row">
    {{#each this}}
      <div class="col-sm-6 col-md-4 p-4">
        <div class="card">
          <img src="{{ this.imagePath }}" alt="..." class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">{{ this.title }}</h3>
            <p class="card-text">{{ this.description}}</p>
          </div>
          <div class="card-footer">
              <div class="price pull-left">${{ this.price}}</div>
              <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
            </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
